DISCORD_BOT_TOKEN="<DISCORD_BOT_TOKEN>"
TWILIO_ACCOUNT_SID="<TWILIO_ACCOUNT_SID>"
TWILIO_AUTH_TOKEN="<TWILIO_AUTH_TOKEN>"
TWILIO_PHONE_NUMBER="<TWILIO_PHONE_NUMBER>"
CLIENT_PHONE_NUMBER="<CLIENT_PHONE_NUMBER>"
DISCORD_CHANNEL="<DISCORD_CHANNEL>"
ALERT_MANAGER_URL="<ALERT_MANAGER_URL>"